<%= render @group %>

<ul>
<% @transfers.each do |transfer| %>
  <li class="row">
    <span class="col-6 text-center"><%= transfer.name %></span>
    <span class="col-6 text-center">$<%= transfer.amount %></span>
  </li>  
<% end %>
</ul>


<div>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>

<%= link_to "New transfer", new_group_transfer_path(@group) %>



