<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mb-4">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "w-full px-4 py-2 border" %>
  </div>
  <div class="mb-4">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "w-full px-4 py-2 border" %>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="mb-4 flex items-center">
      <%= f.check_box :remember_me, class: "mr-2" %>
      <%= f.label :remember_me, class: "text-sm text-gray-600" %>
    </div>
  <% end %>
  <div>
    <%= f.submit "Log in", class: "w-full px-4 py-2 bg-main text-white cursor-pointer" %>
  </div>
<% end %>

<div class="hidden">
  <%= render "devise/shared/links" %>
</div>
